<section class=" w-full rounded border-gray-700  ">
    <div class="w-full bg-white bg-custom-secondary">
        <p class="mt-2 text-lg font-semibold text-white ml-4 p-1.5 ">Busqueda de Comprobantes</p>
    </div>
    <div class="w-full bg-custom-complement1 opacity-70 px-4 mx-auto ">
        <form action="#">
            <div class="grid grid-rows-2 grid-cols-2 gap-2 mb-2 lg:gap-3 xl:gap-6 sm:grid-cols-3 sm:gap-6 sm:mb-5 lg:grid-cols-9   sm:bg-gray-50 md:bg-red-600 lg:bg-orange-500 xl:bg-gray-800 md:grid-cols-9">
                <div class="w-full xl:col-span-1 md:col-span-2 order-1">
                    <label for="brand" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Tipo Documento</label>
                    <select id="brand" class=" bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5 ">
                        <option selected="">Todos</option>`
                        <option value="FACTURA">Factura</option>
                        <option value="BOLETA">Boleta de Venta</option>
                        <option value="NOTACREDITO">Nota de crédito</option>
                        <option value="NOTADEBITO">Nota de débito</option>
                    </select> 
                </div>
                <div class="sm:col-span-1 w-full md:col-span-2 lg:col-span-1 order-2">
                    <label for="name" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Serie</label>
                    <select id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5 ">
                        <option selected="">Todos</option>
                    </select> 
                </div>
                <div class="w-full lg:col-span-1 xl:col-span-1 md:col-span-2 order-3">
                    <label for="brand" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Estado Doc</label>
                    <select id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5 ">
                        <option selected="">Todos</option>
                        <option value="1">EMITIDO</option>
                        <option value="2">ANULADO</option>
                    </select> 
                </div>
                <div class="w-full lg:col-span-2 md:col-span-3 order-4" >
                    <label for="brand" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Estado Doc.Tributario</label>
                    <select id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-500 focus:border-primary-500 block w-full p-1.5 ">
                        <option selected="">Todos</option>
                        <option value="TV">ANULADO</option>
                        <option value="TV">ENVIADO A DECLARAR</option>
                        <option value="TV">ACEPTADO</option>
                        <option value="TV">RECHAZADO</option>
                    </select> 
                </div>    
                          
                <div class=" xl:col-span-4 lg:col-span-3 lg:order-5 sm:order-8 md:col-span-4 sm:col-span-2">
                    <label for="item-weight" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"><br></label>
                    <button type="button" class="w-28 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
                    <button type="button" class="w-28 ml-4 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Actualizar</button>
                </div>
                <div class=" xl:col-span-1 lg:col-span-2 md:col-span-2 order-6">
                    <label for="category" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Fecha Inicio</label>
                    <input type="date" name="item-weight" id="item-weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5 " value="15" placeholder="Ex. 1" required="">   
                </div>
                <div class=" xl:col-span-1 lg:col-span-2 md:col-span-2 order-7 ">
                    <label for="item-weight" class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">Fecha Fin</label>
                    <input type="date" name="item-weight" id="item-weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5 " value="15" placeholder="Ex. 12" required="">
                </div> 
                
            </div>
        </form>
    </div>
  </section>